<footer class="site-footer">
  <div class="wrap sub" style="padding: 0">
    <p>GameHub Retro – All credit et projet passion par Joris</p>
  </div>
  <script src="/public/main.js" defer></script>
</footer>
